{{layout: base.html}}
<section class="listing">
  <header class="listing__header">
    <h1 class="listing__title">{{title}}</h1>
    {{?description}}
    <p class="listing__description">{{description}}</p>
    {{/?description}}
  </header>
  <div class="listing__content">
    {{content}}
  </div>
  <nav class="pagination" aria-label="Pagination">
    {{?prev_page}}
    <a href="{{prev_page}}" class="pagination__link pagination__link--prev">Newer posts</a>
    {{/?prev_page}}
    <span class="pagination__info">{{page_num}} / {{total_pages}}</span>
    {{?next_page}}
    <a href="{{next_page}}" class="pagination__link pagination__link--next">Older posts</a>
    {{/?next_page}}
  </nav>
</section>
